body {
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: rgb(255, 255, 255);
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0px auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav li {
  margin-left: 20px;
  display: inline;
}
.iconeHeader {
  max-width: 200px;
}
.cabeçalho h1 {
  text-align: center;
}
.imgPrincipal {
  width: 100%;
  height: 400px;
}
.titulo {
  text-align: center;
}
@media screen and (max-width: 460px) {
  .caixa {
    width: auto;
  }
  .iconeHeader {
    max-width: 180px;
    max-height: 180px;
  }

  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 17px;
  }
  .imgPrincipal {
    max-width: auto;
    max-height: 200px;
  }
}
