/* Estilos globais */
body {
  background-color: #fff; /* Define o background branco para o body (corpo) da página */
  margin: 0; /* Remover margens padrões do body */
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o container do aplicativo */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para o container do conteúdo das páginas */
.content-container {
  flex: 1; /* Faz o conteúdo ocupar todo o espaço disponível */
  padding-top: 80px; /* Adiciona um espaçamento superior para evitar que o conteúdo fique oculto pelo Header */
}

/* Estilo para ajustar o Footer no rodapé */
html,
body,
#root {
  height: 100%;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
}
